<footer class="footer">
	<small>
		<a href="http://www.jaspreetgarcha.com">Jaspreet Garcha's website</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>